<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="8" android:versionName="8.0" package="download2brain.fabiana2" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="20" android:targetSdkVersion="30" />
	<application android:label="Download2Brain.Fabiana2.Android" android:theme="@style/MainTheme" android:icon="@mipmap/launcher_foreground"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>